<h1>Welcome to 1KTF</h1>
<h3>One Thousand True Fans</h3>
<p>1KTF helps fans support the artists they love the most</p>


<p>Are you a Fan?</p>
<%# <%= link_to 'Submit' fans_path %>

<p>Are you an Artist?</p>
