<h1>Welcome, Fans!</h1>

<p>Here you can declare yourself to be a member of the One Thousand True Fans of your favorite artists.</p>

<p>You can also search for new artists, manage your account, and see your contribution to your favorite artists.</p>
